// Gutter on small devices

.container {
  position: relative;
  @include media-breakpoint-down(sm) {
    padding-left:  $spacing-sm;
    padding-right: $spacing-sm;
  }
}

.last-section {
  padding-bottom: 196px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 144px;
  }
}

section {
  padding: 0 0 2rem 0;
  @include media-breakpoint-up(md) {
    padding: 0 0 4rem 0;
  }
}

.bust-out { 
  @media (max-width: 1919px) {
    min-width: 100vw;
    max-height: 600px;
    object-fit: cover;
    margin: 0 calc(50% - 50vw);
  }
}

.full-width {
  
  &:first-of-type {
    background-color: $cover-gray;
  }
  
  &.figure,
  &.figure .full-width {
    background-color: $white;
  }
  
  @media (max-width:1919px) {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
  
  @include media-breakpoint-up(xl) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  @media (min-width: 1440px) and (max-width: 1599px) {
    padding-left: 30%;
    padding-right: 30%;
  }
  
  @media (min-width: 1600px) and (max-width: 1919px) {
    padding-left: 40%;
    padding-right: 40%;
  }
}

.trusted {
  
  .full-width:first-of-type {
    background-color: $white;
  }
  .carousel-th-0 {
    background-color: $cover-gray;
  }
}

.index .full-width {
  
  @include media-breakpoint-down(md) {
  
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
  
  @include media-breakpoint-up(md) {
  
    left:         auto;
    right:        auto;
    margin-left:  auto;
    margin-right: auto;
    max-width:    100%;
    width:        100%;
    position:    relative;
  }
}

// Nav Link Collapse

.nav-link {
  
  font-family: $sans-serif;

  &[data-toggle="collapse"]{
    > .icon{
      transform: rotateZ(-90deg);
      position: relative;
      right: .25rem;
    }
  }
}

footer .nav-link {
  font-family: inherit;
}

// Scroll-to-top button

.btn-primary.btn-primary {
    border-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.02) !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15) !important;
    &:hover,
    &:active {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.20) !important;
      background-color: inherit;
    }
}

// Links

a {
  font-weight: normal;
}

a h3 {
  display: inline;

  &:hover {
      color: rgb(51,51,51);
      padding-bottom: 3px;
      background: linear-gradient(to right, rgb(51,51,51) 0%, rgb(51,51,51) 100%);
      background-size: 1px 1px;
      background-position: 0 100%;
      background-repeat: repeat-x;
  }
}

// Images

a img,
.display-4 a,
.homepage h1 a:hover {
    transition:     opacity 0.2s ease-in-out;
    -moz-transition:  opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition:    opacity 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}
