// typography.scss

// h2 {
//   font-size: 3rem;
// }

// h3 {
//   font-size: 40px;
// }

// h4 {
//   font-size: 26px;
//   margin-bottom: 24px;
// }

// h5 {
//   font-size: 22px;
// }

html {
  font-size: 1rem;
}

.section {
    a {
      color: $light-blue;
      &:hover {
        color: $light-blue;
      }
    }
   p a, li a {
    border-bottom: 1px solid #00829A;
    color: $body-color;
    &:hover {
      color: $light-blue;
    }
  }
}

.collapsible-link.collapsible-link {
  border-bottom: none;
  color: $light-blue;
}

body { 
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

span {
  &.font-italic {
    color: $text-muted;
  }
}

.navbar,
a {
  font-weight: 400;
}

.underlined {
  text-decoration: none;
    color: rgb(25,25,25);
    padding-bottom: 0px;
    background: linear-gradient(to right, $primary-lighter 0%, $primary-lighter 100%);
    background-size: 1px 8px;
    background-position: 0 76%;
    background-repeat: repeat-x;
}